<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.suhyeon.intelli_folio.module.project.DocumentMapper">

    <insert id="insert">
        INSERT INTO documents (project_id, title, original_filename, content_type, size_bytes)
        VALUES (#{projectId}, #{title}, #{originalFilename}, #{contentType}, #{sizeBytes})
    </insert>

    <select id="lastInsertId" resultType="long">
        SELECT LAST_INSERT_ID()
    </select>

</mapper>